<!DOCTYPE html>
<html>
  <head>
    <title>Taskr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <%= render 'layouts/nav_horizontal' %>
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-3 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
          <%= render 'layouts/nav_vertical' %>
        </div>
        <div class="col-xs-8 col-sm-10">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
